﻿<!DOCTYPE html>
<html ng-app="hydraApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/auxiliary.css" rel="stylesheet"/>

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="lib/lodash/index.js"></script>
    <script src="lib/jsonld/js/jsonld.js"></script>
    <script src="lib/hydra-core/dist/hydra-core.js"></script>

    <script src="app/main.module.js"></script>
    <script src="app/main.controller.js"></script>
    <script src="app/issue/issue.controller.js"></script>
    <script src="app/app.js"></script>

    <title>Generic client for issue tracking systems</title>
</head>
<body>
<div ng-controller="MainController as vm" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Generic client for issue tracking systems
                </div>
                <div class="panel-body">
                    <form>
                        <div class="col-sm-1">
                            <span ng-show="vm.loading" class="fa fa-spinner fa-pulse fa-lg"></span>
                        </div>
                        <div class="col-sm-9">
                            <input title="Entry point URL" type="url" class="form-control" ng-model="vm.entryUrl" ng-disabled="vm.loading">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary" ng-click="vm.loadEntry()" ng-disabled="vm.loading">Go</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="panel panel-default" ng-if="vm.entry">
                <div class="panel-heading">
                    Menu
                </div>
                <div role="navigation">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ng-repeat="item in vm.menu" ng-class="{active: item.view.selected}"
                            ng-click="item.view.load(); vm.select('view', item.view)">
                            <a ng-bind="item.label"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-10" ng-if="vm.view">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span ng-bind="vm.view.label"></span>
                </div>
                <div ng-include="vm.view.template"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
