.gray {
    color: gray;
}

.green {
    color: green;
}

.red {
    color: red;
}

.theme-color {
    color: #337ab7;
}

.danger-color {
    color: #b94a48;
}

.hover-gray:hover, .btn:hover .fa.hover-gray {
    color: gray;
}

.hover-green:hover, .btn:hover .fa.hover-green {
    color: green;
}

.hover-red:hover, .btn:hover .fa.hover-red {
    color: red;
}

.hover-theme-color:hover, .btn:hover .fa.hover-theme-color {
    color: #337ab7;
}

.hover-danger-color:hover, .btn:hover .fa.hover-danger-color {
    color: #953b39;
}

.cursor-arrow {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.th-button {
    width: 41px;
}

.td-button {
    text-align: center;
}
