<div class="panel-body" ng-if="vm.issueCollection !== null && vm.issueCollection['@post'] !== undefined">
    <button class="btn btn-default" ng-click="vm.createIssue()">Create</button>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th ng-if="vm.issueSupportsState">State</th>
        <th>Description</th>
    </tr>
    </thead>
    <tr ng-repeat="issue in vm.issues">
        <td ng-bind="issue['http://schema.org/name']"></td>
        <td ng-bind="issue['Issue/state']" ng-if="vm.issueSupportsState"></td>
        <td ng-bind="issue['http://schema.org/description']"></td>
    </tr>
</table>
