<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th class="th-button"></th>
        <th class="th-button" ng-if="vm.projectSupportsMembers"></th>
    </tr>
    </thead>
    <tr ng-repeat="project in vm.projects">
        <td ng-bind="project['http://schema.org/name']"></td>
        <td ng-bind="project['http://schema.org/description']"></td>
        <td class="td-button"><span title="View issues" ng-click="vm.viewProjectIssues(project)"
                                    class="fa fa-tasks hover-theme-color cursor-pointer"></span></td>
        <td class="td-button" ng-if="vm.projectSupportsMembers">
            <span title="View members" ng-click="vm.viewProjectMembers(project)"
                  class="fa fa-users hover-theme-color cursor-pointer"></span>
        </td>
    </tr>
</table>
