<table class="table table-bordered">
    <thead>
    <tr>
        <th>Username</th>
        <th>Full name</th>
    </tr>
    </thead>
    <tr ng-repeat="user in vm.users">
        <td ng-bind="user['User/username']"></td>
        <td ng-bind="user['http://schema.org/name']"></td>
    </tr>
</table>
