<div class="modal-header">
    <h3 class="modal-title">
        <span>Create issue</span>
    </h3>
</div>
<div class="modal-body">
    <form name="issueForm" class="form-horizontal">
        <div class="form-group">
            <label for="issueForm.name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input id="issueForm.name" class="form-control" ng-model="vm.issue.name" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="issueForm.description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input id="issueForm.description" class="form-control" ng-model="vm.issue.description"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <form class="form-inline">
        <button class="btn btn-primary" ng-click="vm.submit()" ng-disabled="issueForm.$invalid">Create</button>
        <button class="btn btn-warning" ng-click="vm.dismiss()">Cancel</button>
    </form>
</div>
